* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

p {
  margin: 0;
}

.page-wrapper{

  display:grid;
  grid-template-rows: 20% 60% 20%;
  grid-template-columns: 30% 70%;
  grid-template-areas: 
  "about-title about-content"
  "work-title work-content"
  "contact-title contact-content";
}

.about-title{
  grid-area: about-title;
}
.about-content{
  grid-area: about-content;
}
.work-title{
  grid-area: work-title;
}
.work-content{
  grid-area: work-content;
}
.contact-title{
  grid-area: contact-title;
}
.contact-content{
  grid-area: contact-content;
}

#work {
  display:grid;
  grid-template-rows: 2fr 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: 
  "project1 project1"
  "project2 project3"
  "project4 project5";
}

.project1 {
  grid-area:project1;
}
.project2 {
  grid-area:project2;
}
.project3 {
  grid-area:project3;
}
.project4 {
  grid-area:project4;
}
.project5 {
  grid-area:project5;
}