* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  line-height: 1.5;
  background-color: rgb(237, 241, 241);
  color: rgb(41, 49, 49);
  
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 75px;
  background-color:  rgb(3, 4, 63); 
  color:rgb(3, 4, 63);
}

header nav {
  padding-top: 10px;
  margin-right: 20px;
  float: right;
}

header a {
  margin-left: 25px;
  color:rgb(217, 238, 241);
  text-decoration: none;
  border-bottom: solid 2px rgb(217, 238, 241);
  font-size: 15pt;
}

header h1 {
  padding-left:20px;
  padding-right:10px;
  background-color: rgb(217, 238, 241);
}

.hero-banner {
  height: 200px;
  width: 100%;
  margin-bottom: 25px;
  background-image: url("../images/hero.png");
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: flex-end;

}
 .hero-banner h2 {
  padding: 10px;;
  background-color: rgba(3, 4, 63, 0.932);
  margin-top: 130px;
  color:rgb(217, 238, 241);
 }

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

p {
  margin: 0;
}

.page-section {
  display: flex;
  justify-content: start;
  color:rgb(3, 4, 63)

}

.page-section h2 {
  font-size:30pt;
  border-right: solid 4px;
  padding-right: 3%;
  padding-left: 3%;
}

#about p {
  margin: 3%; 
}

#about img {
  border: solid 5px rgb(3, 4, 63);
  margin-right: 10px;
}

#work-content {
  margin: 3%;
  height: 1000px;
  width:75%;
  display:grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 2fr 1fr 1fr;
  grid-template-areas: 
  "project1 project1"
  "project2 project3"
  "project4 project5";
}


#project1 {
  grid-area:project1;
  background-image: url("../images/project1.jpg");
  background-size: cover;
  border: solid 5px rgb(3, 4, 63);
  margin: 1%;
  
}
#project2 {
  grid-area:project2;
  background-image: url("../images/project2.jpg");
  background-size: cover;
  border: solid 5px rgb(3, 4, 63);
  margin:1%;
}
#project3 {
  grid-area:project3;
  background-image: url("../images/project3.jpg");
  background-size: cover;
  border: solid 5px rgb(3, 4, 63);
  margin: 1%;
}
#project4 {
  grid-area:project4;
  background-image: url("../images/project4.jpg");
  background-size: cover;
  border: solid 5px rgb(3, 4, 63);
  margin: 1%;
}
#project5 {
  grid-area:project5;
  background-image: url("../images/project5.jpg");
  background-size: cover;
  border: solid 5px rgb(3, 4, 63);
  margin: 1%;
}

#contact a {
  text-decoration: none;
  border-bottom: solid 4px;
  font-size: 18pt;
  margin-left: 25px;
  color: rgb(3, 4, 63);
}