* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  line-height: 1.5;
  background-color: rgb(237, 241, 241);
  color: rgb(41, 49, 49);
  
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 75px;
  background-color:  rgb(3, 4, 63); 
  color:rgb(3, 4, 63);
}

header nav {
  padding-top: 10px;
  margin-right: 20px;
  float: right;
}

header a {
  margin-left: 25px;
  color:rgb(217, 238, 241);
  text-decoration: none;
  border-bottom: solid 2px rgb(217, 238, 241);
  font-size: 15pt;
}

header h1 {
  padding-left:20px;
  padding-right:10px;
  background-color: rgb(217, 238, 241);
}
.hero-banner {
  height: 200px;
  width: 100%;
  margin-bottom: 25px;
  background-image: url("../images/hero.png");
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: flex-end;

}
 .hero-banner h2 {
  padding: 10px;;
  background-color: rgba(3, 4, 63, 0.932);
  margin-top: 130px;
  color:rgb(217, 238, 241);
 }

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

p {
  margin: 0;
}

.page-wrapper {

  display:grid;
  grid-template-rows: 20% 60% 20%;
  grid-template-columns: 30% 70%;
  grid-template-areas: 
  "about-title about-content"
  "work-title work-content"
  "contact-title contact-content";
}

.about-title {
  grid-area: about-title;
}
.about-content {
  grid-area: about-content;
}
.work-title {
  grid-area: work-title;
}
.work-content {
  grid-area: work-content;
}
.contact-title {
  grid-area: contact-title;
}
.contact-content {
  grid-area: contact-content;
}

#work {
  display:grid;
  grid-template-rows: 2fr 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: 
  "project1 project1"
  "project2 project3"
  "project4 project5";
}

.project1 {
  grid-area:project1;
}
.project2 {
  grid-area:project2;
}
.project3 {
  grid-area:project3;
}
.project4 {
  grid-area:project4;
}
.project5 {
  grid-area:project5;
}